@import url('https://fonts.googleapis.com/css?family=Merriweather:300|Permanent+Marker');

body {
    width: 80%;
    margin: auto;
    float: top;
    font-size: 12pt;
    font-family: "Merriweather", serif;
    font-style: italic;
    background-image: url("res/wall4.png");
    background-repeat: repeat;
}


h1 {
    font-size: 48pt;
    font-family: 'Permanent Marker', serif;
    width: fit-content;
    margin: auto;
}

#Controls {
    width: 95%;
    max-width: 1200px;
    position: relative;
    margin: auto;
    background-color: rgba(200, 215, 225, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
}


legend {
    width: fit-content;
    font-style: normal;
}


button {
    width: fit-content;
    margin: auto;
    position: relative;
}

.report-text {
    font-size: 10pt;
}